*{
    margin: 0;
    padding: 0;
}

#container { /*#은 id의 셀렉터이다.*/
    width: 60%;
    height: 100vh;
    margin-left: 20%;
}

header{
    width: 100%;
    height: 80px;
    background-color: rgb(74, 18, 230);
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 50px;
}

nav{
    width: 100%;
    height: 80px;
}

main nav ul {
    width: 100%;
    height: 100%;
    display: fleX;
    justify-content: center; /*수평*/
    align-items: center; /*수직*/
    margin: 10px;
    font-size: 1REM;
}

main nav ul li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 2px;
    border-radius: 10px;
    background-color: rgb(124, 185, 241);
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

a:visited, a:link{
    color: white;
}

a:hover{
    color:rgb(58, 89, 226);
}

ul{
    list-style-type: none;
    width: 100%;
}

section ul li{
    margin: 10px 40px;
    padding: 20px;
    background-color: beige;
    color: black;
}


section ul li:hover{
    background-color: rgb(118, 126, 243);
    color: white;
}